@-webkit-keyframes typing { from { width: 0 }
    to { width:🃏7.75em; }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:7.75em; }
}

/*
@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E0BC72; }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E0BC72; }
}
*/

a {
	color:#ECECEC;
	text-decoration:none;
	vertical-align:middle;
	-webkit-transition: color .3s;
	-moz-transition:    color .3s;
	-ms-transition:     color .3s;
	-o-transition:      color .3s;
	transition:         color .3s;
}

a:hover {
	color: #96BBDC;
}

p {
	font-size: 0.8em;
	color: #E9E9E9;
}

/* fix up font for main body section */
body
{
	background:#ECECEC;
	height:auto;
	text-align:center;
	font-family: monospace;
}

h1 {
	text-align:center;
	font-size:3.04em;
	margin:.5em 0 .1em;
	width:7.75em;
	white-space:nowrap;
	overflow:hidden;
	border-right: .4em solid #E0BC72;
	font-family: monospace;
	-webkit-animation: typing 3s steps(13, end), /* # of steps = # of characters */
	                    blink-caret 1s step-end infinite;
	-moz-animation: typing 3s steps(13, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
h2
{
	text-align:center;
	color:#ECECEC;
	font-size:5.25em;
	margin:.5em 0 .1em;
	padding-top: 3%;
}

h3
{
	text-align:center;
	font-size:3.25em;
	margin:.5em 0 .1em;
	padding-top: 4%;
}

section
{
	display:block;
	max-width:500px;
	background:#424242;
	border-radius:.2em;
	margin:0 auto 1em;
	padding-bottom: 2%;
}

.text
{
	font-size:1.5em;
	color:#3F3F3F;
	height:auto;
	text-align:center;
	vertical-align:middle;
}

#msg {
	margin-left: 2%;
}

/* add media queries here */
@media only screen and (max-width: 499px) {
    body {
			min-width:500px;
    }
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:#ECECEC;
	margin:0 auto 1em;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 0 auto 1em;;
	border-radius: .2em;
	margin-top 4%;
	padding-bottom: 2%;
	background:#424242;
	background: -moz-linear-gradient(#424242, #424242);
	background: -webkit-linear-gradient(#424242, #424242);
	background: -o-linear-gradient(#424242, #424242);
}

.modalDialog p {
	font-size: 1em;
}

.close {
	background: #96BBDC;
	color: #424242;
	font-size: 1.4em;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #96BBDC; }
