@-webkit-keyframes typing {
    from { width: 0 }
    to { width:🃏7.75em; }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:7.75em; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9A7372; }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9A7372; }
}


a {
	color:#3F3F3F;
	text-decoration:none;
	vertical-align:middle;
}

p {
	font-size: 0.8em;
}

/* fix up font for main body section */
body
{
	background:#4B4B4B;
	height:auto;
	text-align:center;
	font-family: monospace;

}

h1 {
	color: #9A7372;
	text-align:center;
	font-size:3.2em;
	margin:.5em 0 .1em;
	width:7.75em;
	white-space:nowrap;
	overflow:hidden;
	border-right: .1em solid #9A7372;
	font-family: monospace;
	-webkit-animation: typing 3s steps(13, end), /* # of steps = # of characters */
	                    blink-caret 1s step-end infinite;
	-moz-animation: typing 3s steps(13, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
h2
{
	text-align:center;
	color:#3F3F3F;
	font-size:4.25em;
	margin:.5em 0 .1em;
	padding-top: 6%;
}

h3
{
	text-align:center;
	font-size:4.25em;
	margin:.5em 0 .1em;
	padding-top: 4%;
}

section
{
	display:block;
	max-width:500px;
	background:#D9D9D9;
	border-radius:.2em;
	margin:0 auto 1em;
	padding-bottom: 2%;
}

.text
{
	font-size:1.5em;
	color:#3F3F3F;
	height:auto;
	text-align:center;
	vertical-align:middle;
}

#msg {
	margin-left: 2%;
}

/* add media queries here */
@media only screen and (max-width: 499px) {
    body {
			min-width:500px;
    }
}


