body {
  font-family: 'Inconsolata', monospace;
  font-size: 200%;
  line-height: 140%;
  height: 100%;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 200%;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 5.33em 1.33em 0;
}
.oneliner {
  font-size: 60%;
}

div.bug {
  width: 2px;
  height:1px;
  background-color:black;
  position:fixed;
  display: float;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.contact_list {
  padding-top: 1.75%;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact_list a {
  border-bottom: 0;
  font-size: 1.5em;
  margin-right: .56em;
  color: rgba(0, 0, 0, 1);
}
.contact_list a:hover i {
  color: rgba(0, 0, 0, .9);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.15);
}
.contact_list a i {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  transform: scale(1);
}
.wrapper {} @media screen and (max-width: 768px) {
  .wrapper {
    padding: 4em 1em 0;
  }
}
@media screen and (max-width: 773px) {
  .wrapper {
    padding: 2em 1em 0;
  }
}
@media screen and (max-width: 667px) {
  .wrapper {
    padding: 2em 1em 0;
  }
}
@media screen and (max-width: 414px) {
  .wrapper {
    padding: 2em 2em 0;
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    padding: 2em .5em 0;
  }
}

div.wrapper span.tooltip {
  display: inline-block;
  position: relative;
  line-height: 1rem;
  font-size: 1rem;
}
div.wrapper span.tooltip:after {
  position: absolute;
  color: #151515;
  white-space: wrap;
  /* background-color: #ffffff; */
  /* pointer-events: none; */
  content: attr(data-tooltip);
  opacity: 0;
}
div.wrapper span.tooltip:hover::after, div.wrapper span.tooltip:focus::after {
  display: block;
  opacity: .8;
}
div.wrapper span.tooltip:after {
  bottom: 2.2rem;
  right: .85rem;
  transform: translateY(0px);
  -webkit-transition: 2s ease all;
  -moz-transition: 2s ease all;
  -ms-transition: 2s ease all;
  transition: 2s ease all;
}
div.wrapper span.tooltip:before {
  bottom: 0.2rem;
  left: 50%;
}
div.wrapper span.tooltip:hover::after, div.wrapper span.tooltip:focus::after {
  transform: translateY(-85%);
}
