* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Rasa', serif;
}
section {
	margin-bottom: 20px;
	padding-right: 100px;
}
.container {
	position: relative;
	padding: 280px 0 140px;
	overflow: none;
	width: 800px;
	margin: auto;
	font-size: 30px;
	font-weight: 400;
	z-index: 1;
}
.wave {
	position: absolute;
	top: 220px;
	left: -40px;
	font-size: 45px;
	-moz-transform: rotate(80deg) ;
	-webkit-transform:  rotate(80deg);
	-o-transform: rotate(80deg) ;
	transform: rotate(80deg) ;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 2
	opacity: 0
}
.profile-image {
	width: 40%;
	height: 40%;
	position: absolute;
	top: -90px;
	left: 260px;
	z-index: 0;
}
.profile-image-lines {
	transition: 6s;
	opacity: 1;
}
.profile-image-solid {
	transition: 7s;
	opacity: 0;
	z-index: 0;
}
h1 {
	font-weight: 500;
	font-family: 'Barlow Condensed', sans-serif;
	margin-bottom: 12px;
	transition: 0.5s;
}
h2 {
	font-weight: 500;
	font-family: 'Barlow Condensed', sans-serif;
	margin: 30px 0 20px;
}
h3 {
	font-weight: 500;
	font-family: 'Barlow Condensed', sans-serif;
	margin: 10px 0 20px;
}
h4 {
	font-weight: 700;
	font-family: 'Barlow Condensed', sans-serif;
	margin: 10px 0 20px;
}
a {
	color: blue;
	text-decoration: none;
	border-bottom: 3px solid blue;	
	padding-bottom: 3px;
}
p {
	font-size: 24px;
}
.name {
	color: blue;
	border-bottom: 4px solid blue;
	transition: 0.5s;
}
.copy {
	position: relative;
	background-color: white; 
	padding-top: 20px;
}
body.loaded .wave {
	-moz-transform: rotate(0deg) ;
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg) ;
	transform: rotate(0deg) ;
	transition: 0.3;
	rotate: 45px;
	opacity: 1;
}
body.loaded .wave:hover {
	-moz-transform: rotate(70deg) ;
	-webkit-transform: rotate(70deg);
	-o-transform: rotate(70deg) ;
	transform: rotate(70deg) ;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	cursor: all-scroll;
	z-index: 1;
}
@media (max-width: 768px) {
	.container {
		width: auto;
		margin: 40px;
	}
	.wave {
		display: none;
	}
}
@media (max-width: 500px) {
	body {
		text-align: center;
		margin: 0 20px;
	}
	.container {
  		width: auto;
  		padding-bottom: 80px;
  		margin: auto;
	}
	.profile-image {
		width: 60%;
		height: 60%;
		top: -410px;
		left: 100px;
	}
	.wave {
		top: 250px;
		left: 50px;
	}
	section {
		margin: 0;
		padding: 0;
	}
}
@media (max-width: 400px) {
	.wave {
		display: none;
	}
	.profile-image {
		top: -450px;
		left: 60px;
	}
}
@media (max-width: 350px) {
.profile-image {
		width: 70%;
		height: 70%;
		top: -620px;
		left: 50px;
	}
}