html {
}
body {
  font-family: 'inconsolata', monospace;
  font-size: 200%;
  line-height: 140%;
  height: 100%;
  position: relative;
  text-align: center;
}
canvas {
  vertical-align: top;
}
h1 {
  font-size: 200%;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  background: #8cc7ff;
  padding: 0 10px;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 5.33em 1.33em 0;
  /* background-size: cover; */
  /* width: 100%; */
  /* height: 100%; */
}
.oneliner {
  font-size: 60%;
}
div.bug {
  width: 3px;
  height: 2px;
  background: black;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(255, 185, 35, 0.8);
  position:fixed;
  display: float;
  z-index: 999;
}
.contact_list {
  padding-top: 1.75%;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
  animation: fadein 5s;
  text-align: center;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact_list a {
  border-bottom: 0;
  font-size: 1.5em;
  margin-right: .56em;
  color: rgba(0, 0, 0, 1);
}
.contact_list a:hover i {
  color: rgba(0, 0, 0, .9);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.15);
}
.contact_list a i {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  transform: scale(1);
}
.wrapper {} @media screen and (max-width: 768px) {
  .wrapper {
    padding: 4em 1em 0;
    .contact_list {
      text-align: center;
    }
  }
}
@media screen and (max-width: 773px) {
  .wrapper {
    padding: 2em 1em 0;
    .contact_list {
      text-align: center;
    }
  }
}
@media screen and (max-width: 667px) {
  .wrapper {
    padding: 2em 1em 0;
    .contact_list {
      text-align: center;
    }
  }
}
@media screen and (max-width: 414px) {
  .wrapper {
    padding: 2em 2em 0;
    .contact_list {
      text-align: center;
    }
  }
}
@media screen and (max-width: 390px) {
  .wrapper {
    padding: 2em .5em 0;
    .contact_list {
      text-align: center;
    }
  }
}
div.wrapper span.tooltip {
  display: inline-block;
  position: relative;
  line-height: 1rem;
  font-size: 1rem;
}
div.wrapper span.tooltip:after {
  position: absolute;
  color: #151515;
  white-space: wrap;
  content: attr(data-tooltip);
  opacity: 0;
}
div.wrapper span.tooltip:hover::after, div.wrapper span.tooltip:focus::after {
  display: block;
  opacity: .8;
}
div.wrapper span.tooltip:after {
  bottom: 2.3rem;
  right: 2.9rem;
  transform: translatey(0px);
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  transition: 1s ease all;
}
div.wrapper span.tooltip:before {
  bottom: 0.2rem;
  left: 50%;
}
div.wrapper span.tooltip:hover::after, div.wrapper span.tooltip:focus::after {
  transform: translatey(-85%);
}
.dotnav-left {
  left: 1%;
  top: 10%;
  margin-top: 10%;
  height: 100px;
  z-index: 999;
  position: fixed;
}

.dotnav {
  padding: 0;
  list-style: none;
  font-size: 0.001px;
}

.dotnav > li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
.dotnav > li:nth-child(n+2) {
  margin-left: 15px;
}

.dotnav > li > a {
  display: inline-block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid black;
  vertical-align: top;
  overflow: hidden;
  padding: 0;
  text-indent: -999%;
}
.dotnav > li > a:hover,
.dotnav > li > a:focus {
  background: pink;
  outline: none;
}
.dotnav > li > a:active {
  background: blue;
}
.dotnav > li.active > a {
  background: green;
}
.dotnav-vertical > li {
  display: block;
  margin-right:10px;
}
.dotnav-vertical > li:nth-child(n+2) {
  margin-left: 0;
  margin-top: 10px;
}
